.modalBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background-color: white;
  border: 1px solid #000;
  box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.24);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
}

.modalContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
 
}
