.workspaceBtn {
  color: #fff;
}

:global(.MuiButton-root) {
  &.workspaceBtnPrimary {
    background-color: #1976d2;

    &:hover {
      background-color: #115293;
    }
  }

  &.workspaceBtnSecondary {
    background-color: white;
    color:#1976d2 ;
    border: 1px solid #1976d2;

    &:hover {
      background-color: #565e64;
    }
  }

  &.workspaceBtnDelete {
    background-color: #d32f2f;

    &:hover {
      background-color: #9a0007;
    }
  }
}
