.workspaceBtn {
  color: #fff;
}

:global(.MuiButton-root) {
  &.workspaceBtnPrimary {
    background-color: #151718;
  }

  &.workspaceBtnSecondary {
    background-color: white;
    color: #151718;
    border: 1px solid #151718;

  }

  &.workspaceBtnDelete {
    background-color: #d32f2f;

    &:hover {
      background-color: #9a0007;
    }
  }
}
