/* Base MUI button overrides */
.workspace-btn {
  color: #fff !important;
}

/* PRIMARY */
.workspace-btn--primary {
  background-color: #1976d2 !important;
}
.workspace-btn--primary:hover {
  background-color: #115293 !important;
}

/* SECONDARY */
.workspace-btn--secondary {
  background-color: #6c757d !important;
}
.workspace-btn--secondary:hover {
  background-color: #565e64 !important;
}

/* DELETE */
.workspace-btn--delete {
  background-color: #d32f2f !important;
}
.workspace-btn--delete:hover {
  background-color: #9a0007 !important;
}
