.container {
  display: flex;
  align-items: center;
}

.container .avatarButton {
  padding: 4px;
}

.container .avatar {
  background-color: #ffffff;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 16px;
}

.menu {
  .MuiPaper-root {
    padding: 4px 0;
    border-radius: 12px;
    min-width: 160px;
  }
}
