.container {
  display: flex;
  align-items: center;
}

.avatarButton {
  padding: 4px !important;
}

.avatar {
  background-color: #1976d2 !important;
  width: 36px !important;
  height: 36px !important;
  font-size: 16px;
}

.menu {
  .MuiPaper-root {
    padding: 4px 0;
    border-radius: 12px;
    min-width: 160px;
  }
}
